.container {
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 40px;
    border-radius: 24px;
}
.container input {
    margin: 0;
    padding-left: 24px;
    padding-right: 52px;
    width: 100%;
    height: 100%;
    background: var(--input-bg);
    border-radius: 24px;
    border: none;

    font-size: 1.2rem;
    letter-spacing: 0.3px;
    box-shadow: 0px 3.5px var(--bitDepthBlack);
    color: var(--text-lightest);
}
.container input::placeholder {
    color: var(--text-lightest);
    opacity: 0.8;
}

.container input:autofill,
.container input:autofill:hover, 
.container input:autofill:focus, 
.container input:autofill:active {
    box-shadow: 0 0 0 1000px var(--input-bg) inset, 0px 3.5px var(--bitDepthBlack) !important;
    -webkit-text-fill-color: var(--text-lightest) !important;
}

.container input:focus {
    outline: solid 2px var(--cyanCircuitry);
}
.container > button {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 50px;
    border-radius: 18px;
}
.container > button img {
    filter: invert(1) !important;
}

.loading-button {
    position: relative;
    color: transparent;
}

.loader-spinner {
    --color-1: #fff;
    --color-2: var(--yarnYellow);
    --size: 0.38px;

    filter: invert(0) !important;

    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    color: var(--color-1);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-spinner::after,
.loader-spinner::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: calc(24 * var(--size));
    height: calc(24 * var(--size));
    top: 0;
    background-color: var(--color-1);
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
}

.loader-spinner::before {
    top: auto;
    bottom: 0;
    background-color: var(--color-2);
    animation-delay: 0.5s;
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes scale50 {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}