/* .page {
    background: ;
    color: black;
} */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    aspect-ratio: 5/3;
    border-radius: 22px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.backLink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 16px;
    margin-top: 0.6rem;
    gap: 8px;
}
.icon {
    width: 30px;
    height: 30px;
    /* filter: invert(100%); */
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 45px;
}

.details {
    width: calc(100% + 32px);
    margin-left: -16px;
    gap: 16px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    background: var(--panel-bg);
    border-radius: 22px;
    padding: 16px;
    margin-bottom: 45px;
}

.details .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;
    gap: 8px;
    background: var(--digitalMoss);
    border-radius: 15px;
    flex-grow: 1;
    flex-basis: 0;
    min-width: fit-content;
}
.details .block p {
    font-weight: 800;
    font-size: 2.2rem;
    margin-bottom: 8px;
    text-align: center;
    padding: 0 16px;
    color: var(--text-lightest);
}
.details .block img {
    width: 80px;
    height: 80px;
}

.row {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.columnSide {
    grid-column: 1;
}
.columnCenter {
    grid-column: 2;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 768px) {
    .backLink {
        margin-left: 16px;
        padding: 0px;
    }
    .row {
        margin-left: 16px;
        grid-template-columns: calc(100% - 16px);
    }
    .columnSide, .columnCenter {
        grid-column: 1;
    }
}
@media screen and (min-width: 1300px) {
    .backLink {
        margin-left: calc(5vw - 30px);
    }
    .row {
        grid-template-columns: 15% 70% 15%;
    }
    .columnSide {
        grid-column: 1;
    }
    .columnCenter {
        grid-column: 2;
        padding: 0;
    } 
}
@media screen and (min-width: 1800px) {
    .columnCenter {
        max-width: 1400px;
    }
}

.row h1 {
    font-size: 2.8rem;
    margin-bottom: 12px;
    letter-spacing: -0.01em;
    color: var(--text-bold-color);
}
.row p {
    font-size: 1.1rem;
    margin-bottom: 16px;
    letter-spacing: 0.01em;
}

.markdown {
    margin-bottom: 100px;
}
.markdown h1 {
    font-size: 2.2rem;
    margin-bottom: 16px;
}
.markdown p {
    margin-bottom: 16px;
    line-height: 1.75rem;
}

/* Links */
.markdown a {
    /* color: #1499A9; */
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--link-color);
    padding-left: 1px;
    padding-right: 1px;
    margin-left: -1px;
    margin-right: -1px;
}
.markdown a:visited {
    color: var(--link-visited-color);
    border-bottom: 1px solid var(--link-visited-color);
}
.markdown a svg {
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    margin-bottom: -0.15em;

    /* fill: #0070f3; */
    fill: var(--link-color);
}
.markdown a:visited svg {
    fill: var(--link-visited-color);
}

/* Images */
.markdown img {
    width: calc(100% + 32px);
    margin-left: -16px;

    height: auto;
    max-height: 80vh;
    border-radius: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
    object-fit: cover;
}
.markdown img + span {
    display: block;
    margin-top: -8px;
    font-style: italic;
    font-weight: 250;
    margin-bottom: 32px;
}

/* Large format code block */
.markdown pre {
    background-color: var(--panel-bg-tinted);
    border-radius: 10px;
    padding: 16px;
    overflow-x: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
.markdown pre code {
    /* font-family: monospace; */
    font-size: 0.85rem;
    background: none !important;
    max-height: min(80vh, 900px);
    overflow: scroll;
    line-height: 1.2rem;
}

/* Inline code block */
.markdown p code {
    font-size: 1rem;
    background-color: var(--panel-bg-tinted-darker);
    padding: 2px 6px;
    border-radius: 4px;
}

/* Lists */
.markdown ul {
    padding-left: 24px;
    margin-bottom: 32px;
}
.markdown ul li {
    margin-bottom: 8px;
}

/* Modifying full-width vs slightly-smaller-width elements to be all full at smaller resolution */
@media screen and (max-width: 500px) {
    .backLink {
        margin-left: 0px
    }
    .details {
        width: calc(100% + 0px);
        margin-left: -0px;
    }
    .columnCenter {
        padding-left: 0px;
        padding-right: 0px;
    }
    .markdown img {
        width: calc(100% + 0px);
        margin-left: -0px;
    }
}